#projects {
    background-color: rgba(46, 64, 141, 0.877);
    color: white;
}

.project-holder {
    max-width: 1800px;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-color: ; */
}